* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
  font-family: "Lato";
}

#wrapper {
  min-height: 100%;
  height: 100%;
}

nav {
  float: left;
  height: 100%;
  background-color: #e22434;
  width: 200px;
  border-right: 1px #c21a28 solid;
  padding-top: 48px;
}

nav a {
  display: block;
  width: 100%;
  padding: 8px 24px;
  text-decoration: none;
  color: #fff;
  opacity: 0.61;
}

nav a:hover {
  background-color: #e22434;
  opacity: 1.0;
}

article {
  text-align: left;
  float: left;
  padding: 48px;
  width: 600px;
}

article p {
  font-size: 16px;
  line-height: 26px;
  margin: 12px 0;
}

h1, h2, h3 {

}

blockquote {
  font-family: monospace;
  margin: 12px 0;
}
